node_modules
client/lib
client/webapp/lib
*.DS_Store

.env

*.floo
*.flooignore

# ionic
client/mobileapp/node_modules/
client/mobileapp/platforms/
client/mobileapp/plugins/
client/mobileapp/www/lib/google/
