<ion-view title="Add Route" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Start">
                <span class="input-label">Start</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-select" name="Stops">
                <span class="input-label">Stops</span>
                <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </label>
        </form>
        <a ui-sref="tabsController.map" id="addRoute-button13" class="button button-balanced button-large button-block">Get Route</a>
    </ion-content>
</ion-view>