<ion-view title="Add Route" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Start">
                <span class="input-label">Start</span>
                <input id='start' type="text" placeholder="" ng-model="startInput">
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <input id='end' type="text" placeholder="" ng-model="endInput">
            </label>
            <label class="item item-select" name="Stops">
                <span class="input-label">Stops</span>
                <select ng-model ="route.numStops" ng-options="n for n in route.stopOptions"></select>
            </label>
        </form>
        <a ui-sref="map" id="addRoute-button13" class="button button-balanced button-large button-block" ng-click="getRoute()">Get Route</a>
    </ion-content>
</ion-view>
