<ion-view title="Add Route" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Start">
                <span class="input-label">Start</span>
                <input id='start' type="input" placeholder="" ng-model="startInput">
            </label>
            <label class="item item-input">
                <span class="input-label">End</span>
                <input id='end' type="input" placeholder="" ng-model="endInput">
            </label>
            <label class="item item-select" name="Stops">
                <span class="input-label">Stops</span>
                <select ng-model ="route.numStops" ng-options="n for n in route.stopOptions"></select>
            </label>
        </form>
        <a id="addRoute-button13" class="button button-balanced button-large button-block" ng-click="getRoute()">Get Route</a>

        <!-- Pitstops for new route -->
        <ion-list ng-if="places.length" class="info stop-info" ng-repeat="place in places | orderBy:'position'">
            <!-- <ion-item>Route A</ion-item> -->
            <ion-item class="stop-name">{{getLetter(place.position)}}. {{place.name}}</ion-item>
            <ion-item class="stop-address">{{place.location[0]}}</ion-item>
            <ion-item class="stop-address">{{place.location[1]}}, {{place.location[2]}}</ion-item>
            <!-- <ion-item class="stop-address">{{place.location[3]}}</ion-item> -->
        </ion-list>
          <button class="button button-positive button-large button-block" ng-click="saveRoute()">Save route</button>
    </ion-content>
</ion-view>
