<ion-view title="Login" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list" name="signinForm" ng-submit="signin(signinForm.$valid)">
            <ion-list>
                <label class="item item-input">
                  <input type="text" class="form-control initial-form" placeholder="username" ng-model="user.username" required />
                </label>
                <label class="item item-input">
                    <input type="password" class="form-control initial-form" placeholder="password" ng-model="user.password" required />
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ui-sref="map" id="login-button5" type="submit" class="button button-positive  button-block">Log in</a>
            <a ui-sref="signup" id="login-button6" class="button button-positive  button-block button-clear">Or create an account</a>
        </form>
    </ion-content>
</ion-view>
