<ion-view title="Signup" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list" name="signupForm" ng-submit="signup(signupForm.$valid)">
            <ion-list>
                <label class="item item-input">
                    <input type="text" class="form-control initial-form" placeholder="username" ng-model="user.username" required />
                </label>
                <label class="item item-input">
                    <input type="password" class="form-control initial-form" placeholder="password" ng-model="user.password" required />
                </label>
            </ion-list>
            <a ui-sref="login" id="signup-button4" style="color:#FFFFFF;" class="button button-positive  button-block">Sign up</a>
        </form>
    </ion-content>
</ion-view>
